@import "tailwindcss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light dark;
    font-family: "Vazirmatn", system-ui;
    font-feature-settings: "ss01";
}

body {
    background-color: var(--background);
}